GLOBAL_RESOURCE_PREFIX=changeme
DEPLOYMENT_BUCKET=xxxxx # CHANGE THIS!
AWS_REGION=eu-central-1

# bucket configuration - uncomment to use
# S3_BUCKET_NAME=$GLOBAL_RESOURCE_PREFIX-dpa-s3push-incoming-mycompany-com
# S3_PREFIX_IN=s3push-receive
# S3_PREFIX_OUT=received

# lambda configuration - uncomment to use
# DOWNLOAD_ASSETS=true
# CONVERT_TO_IPTC=false
# CONVERT_TO_NEWSMLG2=false
